<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="io.opentelemetry.instrumentation.log4j.appender.v2_17">
    <Appenders>
        <!-- 콘솔 출력 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="@%d{yyyy-MM-dd HH:mm:ss.SSS} @%t @%-5level @[%logger] - %msg%n"/>
        </Console>

        <!-- OpenTelemetry Appender -->
        <OpenTelemetry name="OpenTelemetryAppender"/>
    </Appenders>

    <Loggers>
        <!-- 애플리케이션 로그 -->
        <Logger name="com.example" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Logger>

        <!-- 루트 로그 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="OpenTelemetryAppender"/>
        </Root>
    </Loggers>
</Configuration>
