<configuration>

    <!-- OpenTelemetry Appender -->
    <appender name="OpenTelemetry"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    </appender>

    <!-- 특정 로거 (OTLP 라는 이름을 가진 로거) -->
    <logger name="OTLP" additivity="false" level="INFO">
        <appender-ref ref="OpenTelemetry"/>
    </logger>

    <!-- 전체(root) 로거 -->
    <root level="INFO">
        <appender-ref ref="OpenTelemetry"/>
    </root>

</configuration>
