apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  labels:
    app: sample-app
spec:
  replicas: 2
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: sample-app  # 이 부분이 하단의 labels와 반드시 일치해야 합니다.
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: sample-app
        image: 10.30.20.251/demo/jenkins-build-app:20260225-144009
        ports:
        - containerPort: 8080
